.background {
    background-image: url('/static/images/bg2.jpg?v=5');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main-banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the section */
    z-index: -1; /* Keeps image behind the text */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    z-index: 1;
    padding: 20px;
}

.caption h6, .caption h2 {
    color: white;
    margin-bottom: 20px;
}
